.select{
    width: 22.225rem;
    height: 3.4rem;
    padding: 0px 16.243px;
    
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: var(--grey-1);
    
    border-radius: 0.25rem;
    border: 0.0761rem solid var(--grey-2);
    background: var(--grey-2); 

}