.Title1{
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;

    color: var(--grey-0);
}
.label{
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 0px;

    color: var(--grey-0);
}
.headline{
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;

    color: var(--grey-1);
}
.headlineb{
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.75rem;

    color: var(--grey-1);
}
.Title2{
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;

    color: var(--white);
}